#notice {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid tranparent;
  border-radius: 4px;
  width: 100%
}

.success {
  color: #3C763D;
  background-color: #F2DEDE;
  border-color: #D6E9C6;
}

.error {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}
